* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, sans-serif;
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #333;
  text-align: center;
  color: #fff;
  padding: 10px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header a:hover {
  color: #333;
  background-color: #f1f1f1;
  border-radius: 3px;
  padding: 10px;
  transition: ease-in-out 0.3s;
}

main {
  display: flex;
  justify-content: center;
}

.navBar {
  position: fixed;
  display: flex;
  right: -130px;
  flex-direction: column;
  top: 85px;
  background-color: #333;
  padding: 20px;
  gap: 30px;
  transition: ease-in-out 0.8s;
}

.navBar a {
  text-align: center;
  color: #fff;
  padding: 10px;
  text-decoration: none;
}

.navOpen {
  right: 0px;
  transition: ease-in-out 0.8s;
}

.hamburger {
  padding: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}

.button {
  background-color: #555;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}

.container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section {
  padding-top: 200px;
  padding: 40px;
  background-color: #f1f1f1;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.section img {
  width: 100%;
  border-radius: 10px;
}

.section1 {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: column;
}

.section1 img {
  width: 50%;
  height: auto;
  border-radius: 10px;
}

.section1 h2 {
  font-size: 2.5rem;
}

.catGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 20px;
}

.catGrid img:hover {
  opacity: 0.9;
}

.catGrid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.contact:hover {
  color: #333;
}
/* form */
.memberH1 {
  padding: 50px;
  text-align: center;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  padding: 50px;
  background-color: #f1f1f1;
  opacity: 0.9;
  margin: 10px;
}

.memberCon {
  padding: 10px;
}
input,
select,
label {
  display: flex;
  width: 300px;
  padding-bottom: 10px;
  border-radius: 5px;
}
input[type='text'],
input[type='email'],
input[type='password'],
select {
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.yes {
  padding: 0px;
}

.yesBox {
  display: flex;
  padding-top: 20px;
  width: 50px;
  gap: 5px;
}
.send,
button {
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
}
.top {
  background-image: url(kattbilder/10.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding-bottom: 5px;
}

@media (min-width: 768px) {
  header {
    padding: 25px;
  }

  nav a {
    display: flex;
  }

  nav {
    display: flex;
  }

  .hamburger {
    display: none;
  }

  .container {
    width: 900px;
    margin-top: 130px;
  }

  .section1 {
    flex-direction: row;
  }

  .navBar {
    display: flex;
    flex-direction: row;
    position: static;
  }

  .catGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .image4 {
    grid-column: 2/4;
  }
  /* form */
  input,
  select,
  button,
  label {
    width: 100%;
  }
  .top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .formContainer {
    width: 600px;
  }
  .memberCon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .agreement {
    flex-direction: column;
  }
  /* form */
}
